.attension__text {
	p {
		font-size: 14px;
		line-height: 20px;
		color: $black;
		padding-bottom: 20px;
		text-align: justify;
		text-indent: 35px;
	}

	.column {
		&.first {
			float: left !important;

			p {
				padding-right: 19px;
			}
		}

		&.last {
			float: right !important;

			p {
				padding-left: 19px;
			}

		}
	}
}