@import "compass";

/* --------- normalize --------- */

@import "_misc/_normalize";

/* --------- fonts --------- */

@import "_misc/_fonts";
@import "_misc/font";
/* --------- mixins --------- */

@import "_misc/mixins";

/* --------- adjustment --------- */

@import "_misc/_adjustment";

/* --------- misc icons sprite --------- */

$misc-sprite: sprite-map('icons/_misc/*.png', $spacing: 70px);

/* --------- common colors --------- */

$black: #333333;
$orange: #ff6600;
$grey: #dee1e4;

/* --------- sections --------- */

@import "_sections/**/*";
// @import "_sections/_header";
// @import "_sections/_nav";
// @import "_sections/_breadcrumbs";
// @import "_sections/_content";